html, body {
    margin: 0;
    padding: 0;
    background-color: #ececec;
    box-sizing: border-box;
}


.container {
    display: grid;
    width: 550px;
    height: 550px;
    grid-area: 1 / 2 / 2 / 3;
}

button {
    font-size: 1rem;
    font-weight: 600;
    background-color: #f78282;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-area: 1 / 1 / 2 / 2;
    flex: 0 1 auto;
}

.black {
    background-color: black;
}

.content {
    display: grid;
    grid-template: auto / auto auto;
    gap: 30px;
    justify-content: center;
}

.header {
    display: flex;
    background-color: white;
    height: 70px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100vw;
}

@media (max-width: 850px){
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 300px;
        height: 300px;
    }

    button {
        width: 70px;
        height: 30px;
        font-size: 0.7rem;
    }

    .menu {
        flex-direction: row;
        flex: 1 1 auto;
        gap: 20px;
    }
}
